
<div class="register-form-container">
  <form nz-form [formGroup]="validateForm" class="register-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <h2 class="register-title">
        Регистрация
      </h2>
    </nz-form-item>
    <nz-form-item class="register-form-item">
      <nz-form-control class="register-form-error" nzErrorTip="Пожалуйста, введите имя!">
        <nz-input-group>
          <p class="register-input-title">Имя</p>
          <input class="register-input" type="text" nz-input formControlName="name" placeholder="Введите имя" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
     
    <nz-form-item class="register-form-item">
      <nz-form-control class="register-form-error" nzErrorTip="Пожалуйста, введите email!">
        <nz-input-group>
          <p class="register-input-title">Email</p>
          <input class="register-input" type="text" nz-input formControlName="email" placeholder="Введите email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item class="register-form-item">
      <nz-form-control class="register-form-error" nzErrorTip="Пожалуйста, введите пароль!">
        <nz-input-group>
          <p class="register-input-title">Пароль</p>
          <input class="register-input" type="password" nz-input formControlName="password" placeholder="Введите пароль" />
  
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-control>
        <!--reCAPTCHA-->
      </nz-form-control>
    </nz-form-item>
  
    <button ngClass="register-button" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Зарегистирироваться</button>
    
    <a class="url-to-login" href="login">Уже есть аккаунт?</a>
  </form>
  </div>
  